# Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.egg-info/
dist/
build/
*.swp

# Virtual environment
venv/
env/
myenv/

# IDE and text editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Django-specific files
*.secret_key
*.settings

# Django media and static files
media/
static/
recipe_hub/media_root/

# Database dump files
*.dump

# Dependency directories
pip-log.txt
pipenv.lock

# Environment-specific settings files
.env
.envrc

# Local development settings
local_settings.py

# Miscellaneous
.DS_Store
Thumbs.db
